PORT=5000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hrms_db
DB_USER=raj
DB_PASSWORD=raj123

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=24h

# Super Admin Seed
SEED_ADMIN_EMAIL=admin@hrms.gov.in
SEED_ADMIN_PASSWORD=Admin@123456
